@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    /*font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;*/
    font-family: "M PLUS Rounded 1c", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    max-width:  100vw;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
}

form legend {
    display: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
}

blockquote {
    font-size: 18px;
    border-radius: 10px;
    line-height: 2;
}

ol,ul {
    font-size: 20px;
    margin-left: 1em;
    line-height: 1.7;
}

hr {
    display: none;
    visibility: hidden;
}

:focus {
    outline: 0;
}

article {
    position: relative;
    top: 70px;
    bottom: 10px;
    max-width: 100vw;
    overflow-wrap: break-word;
    margin-left: 1em;
    margin-bottom: 5vh;
}

article h1,article h2,article h3,article h4,article h5,article h6 {
    color: #333;
    font-weight: bold;
    line-height: 1.25;
    margin-top: 1.3em;
}

article h2,article h3,article h4,article h5,article h6 {
    color: #d9aacd;
}

article h1 a,article h2 a,article h3 a,article h4 a,article h5 a,article h6 a {
    font-weight: inherit;
    color: #333;
}

article h1 a:hover,article h2 a:hover,article h3 a:hover,article h4 a:hover,article h5 a:hover,article h6 a:hover {
    color: #333;
}

article h1 {
    font-size: 48px;
    margin: 0 0 18px;
    border-bottom: 4px solid #eee;
}

article h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

article h2 span{
    border-top: 4px solid #89c3eb;
    border-bottom: 4px solid #89c3eb;
}

article h2 span::before, article h2 span::after {
    content: "\2740";
}

article h3 {
    font-size: 28px;
    margin-bottom: 9px;
}

article h4 {
    font-size: 20px;
    margin-bottom: 3px;
}

article h5 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
}

article .subheader {
    color: #777;
    font-weight: 300;
    margin-bottom: 24px;
}

article p {
    font-size: 20px;
    line-height: 1.7;
}

article p img {
    margin: 0;
}

article p.lead {
    font-size: 20px;
    font-size: 1.8rem;
    line-height: 1.5;
}

article em,article i {
    font-style: italic;
    line-height: inherit;
}

article strong,article b {
    font-weight: bold;
    line-height: inherit;
}

article small {
    font-size: 60%;
    line-height: inherit;
}

article h1 small,article h2 small,article h3 small,article h4 small,article h5 small {
    color: #777;
}

article hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 12px 0 18px;
    height: 0;
}

article abbr,article acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222;
    border-bottom: 1px solid #ddd;
    cursor: help;
}

article abbr {
    text-transform: none;
}

article img {
    max-width: 100%;
}

article pre {
    margin: 10px 0;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fafafa;
    color: #666;
    overflow: auto;
    border-radius: 5px;
}

article code {
    background: #fafafa;
    color: #666;
    font-family: inconsolata, monospace;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 4px;
    padding: 0;
}

article a code {
    color: #2083e0;
}

article a code:hover {
    color: #0060bb;
}

article pre code {
    border: 0;
    background: inherit;
    border-radius: 0;
    line-height: inherit;
    font-size: 14px;
}

article pre.prettyprint {
    border: 1px solid #ddd;
    padding: 10px;
}

article blockquote,article blockquote p {
    line-height: 1.25;
},article p.note {
    line-height: 20px;
    color: #4c4742;
}

article blockquote,article .note {
    margin: 0 0 18px;
    padding: 1px 20px;
    background: #fff7d6;
}

article blockquote li:before,article .note li:before {
    color: #e0bc6f;
}

article blockquote code,article .note code {
    background: #f5d899;
    border: none;
    color: inherit;
}

article blockquote a,article .note a {
    color: #0060bb;
}

article blockquote pre,article .note pre {
    background: #F5D899 !important;
    color: #48484C !important;
    border: none !important;
}

article p.note {
    padding: 15px 20px;
}

article table {
    width: 100%;
}

article table td {
    padding: 8px;
}

article table tr {
    background: #F4F4F7;
    border-bottom: 1px solid #eee;
}

article table tr:nth-of-type(odd) {
    background: #fafafa;
}

article dl dt {
    font-weight: bold;
}

article dl.tabbed {
    position: relative;
}

article dl.tabbed dt {
    float: left;
    margin: 0 5px 0 0;
    border: 1px solid #ddd;
    padding: 0 20px;
    line-height: 2;
    border-radius:  5px 5px 0 0;
}

article dl.tabbed dt a {
    display: block;
    height: 30px;
    color: #333;
    text-decoration: none;
}

article dl.tabbed dt.current {
    background: #f7f7f7;
}

article dl.tabbed dd {
    position: absolute;
    width: 100%;
    left: 0;
    top: 30px;
}

article dl.tabbed dd pre {
    margin-top: 0;
    border-top-left-radius: 0;
}

a {
    color: #2083e0;
}

a:hover {
    color: #0060bb;
}

p {
    margin: 1em 0;
}

h1 {
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-weight: bold;
    font-size: 28px;
}

hr {
    clear: both;
    margin: 20px 0 25px 0;
    border: none;
    visibility: visible;
    display: block;
}

section {
    padding: 50px 0;
}

body {
    background: #f5f5f5;
    background: #fff;
    color: #555;
    /*font: 20px "Helvetica Nueue",sans-serif;*/
    padding: 0px 0 0px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 60px 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.wrapper:after {
    content: " ";
    display: block;
    clear: both;
}

.wrapper article {
    min-height: 310px;
    width: 800px;
    max-width: 85vw;
}

.wrapper aside {
    width: 190px;
    position: fixed;
    top: 120px;
    left: 50px;
    padding: 10px;
}

.wrapper aside ul {
    margin: 2px 10px 30px;
}

.wrapper aside ul a {
    display: block;
    padding: 3px 0 3px 10px;
    margin: 2px 0;
    border-left: 4px solid #eee;
    transition: font-size 0.1s ease-in-out;
    font-size: 20px;
}

.wrapper aside ul a:hover {
    /*border-color: #2083e0;*/
    /*font-size: 24px;*/
}

.wrapper aside h3 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    line-height: 2em;
    margin: 9px 0;
    border-bottom: 1px solid #eee;
}

.wrapper aside.stick {
    position: fixed;
    right: 50%;
    margin-right: -480px;
    top: 120px;
    bottom: 0;
    overflow: hidden;
}

.half {
    width: 50%;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 63px;
    line-height: 50px;
    padding: 30px 0;
    background: #375899;
    border-bottom: 1px solid #ccc;
    padding: 0;
    z-index: 1;
}

header #logo {
    position: absolute;
    left: 50%;
    margin-left: -480px;
}

header nav {
    position: absolute;
    right: 50%;
    margin-right: -480px;
}

header nav a {
    padding: 0 10px 4px;
    font-size: 21px;
    font-weight: 500;
    text-decoration: none;
}

header nav a.selected {
    border-bottom:3 px solid #E9E9E9;
}

header nav a.download {
    position: relative;
    background: #2083e0;
    color: white;
    margin-left: 10px;
    padding: 5px 10px 2px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 3px 0 #0060bb;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 70ms ease-out;
    border: 0;
}

header nav a.download:hover {
    box-shadow: 0 3px 0 #0060bb,0 3px 4px rgba(0, 0, 0, 0.3);
}

header nav a.download:active {
    box-shadow: 0 1px 0 #0060bb;
    top: 2px;
    -webkit-transition: none;
}

#content {
    padding: 30px 0;
    position: relative;
    top: 10px;
}

#top {
    /*background: url(./header-pattern-1.png) fixed;*/
    /*box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset;*/
    
}

#top .wrapper {
    padding: 30px 0;
}

#top h1 {
    float: left;
    color: #fff;
    font-size: 35px;
    line-height: 48px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    user-select: none;
}

#top h1 a {
    text-decoration: none;
    color: #fff;
}

#top h2 {
    float: left;
    color: #fff;
    font-size: 25px;
    line-height: 36px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    user-select: none;
}

#top h2 a {
    text-decoration: none;
    color: #fff;
}

#title {
    width: 500px;
    float: left;
    font-size: 17px;
    color: #2d6201;
}

footer {
    padding: 40px 0;
    background: #363736;
    background: #eee;
    border-top: 1px solid #e5e5e5;
    color: #aaa;
    position: relative;
}

footer .logo {
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -480px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

footer:after {
    content: " ";
    display: block;
    clear: both;
}

footer .links {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
    padding-left: 200px;
}

footer .links:after {
    content: " ";
    display: block;
    clear: both;
}

footer .links dl {
    width: 33%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    float: left;
}

footer .links dt {
    color: #2083e0;
    font-weight: bold;
}

footer .links a {
    color: #aaa;
    text-decoration: none;
}

footer .links a:hover {
    color: #888;
}

footer .licence {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 20px auto 0;
    padding-top: 20px;
    border-top: 2px solid #ddd;font-size:12px;
}

footer .licence:after {
    content: " ";
    display: block;
    clear: both;
}

footer .licence .typesafe,footer .licence .zenexity {
    float: right;
}

footer .licence .typesafe {
    position: relative;
    top: -3px;
    margin-left: 10px;
}

footer .licence a {
    color: #999;
}

div.coreteam {
    position: relative;
    min-height: 80px;
    border-bottom: 1px solid #eee;
}

div.coreteam img {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
    border: 1px solid #ddd;
}

div.coreteam a {
    color: inherit;
    text-decoration: none;
}

div.coreteam h2 {
    padding-left: 70px;
    border: none;
    font-size: 20px;
}

div.coreteam p {
    margin-top: 5px;
    padding-left: 70px;
}

ul.contributors {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.contributors li {
    padding: 6px 0 !important;
    margin: 0;
}

ul.contributors li:before {
    content: ' ';
}

ul.contributors img {
    width: 25px;
    padding: 1px;
    border: 1px solid #ddd;
    margin-right: 5px;
    vertical-align: middle;
}

ul.contributors a {
    color: inherit;
    text-decoration: none;
}

ul.contributors span {
    font-weight: bold;
    color: #666;
}

ul.contributors.others li {
    display: inline-block;
    width: 32.3333%;
}

div.list {
    float: left;
    width: 33.3333%;
    margin-bottom: 30px;
}

h2 {
    clear: both;
}

span.by {
    font-size: 14px;
    font-weight: normal;
}

form dl {
    padding: 10px 0;
}

dd.info {
    color: #888;
    font-size: 12px;
}

dd.error {
    color: #c00;
}

aside a[href^="http"]:after,.doc a[href^="http"]:after {
    content: url(./external.png);
    vertical-align: middle;
    margin-left: 5px;
}


#RuGu {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80vh;
    user-select: none;
    display: none;
}

.totop {
    z-index: 1;
    position: fixed;
    right: 5%;
    bottom: -90px;
    height: 90px;
    user-select: none;
    /*-webkit-filter: drop-shadow(2px 2px 2px #333);*/
    filter: drop-shadow(2px 2px 2px #333);
    transition: filter 0.3s ease-in-out, height 0.1s ease-in-out, opacity 0.1s ease-in-out, bottom 0.1s;
    opacity: 0.8;
    /*display: none;*/
}

.totop:hover {
    filter: drop-shadow(5px 5px 5px #333);
    opacity: 1;
}

.totop:active {
    height: 88px;
}

.slide-in {
    bottom: 1%;
    /*display: block;*/
}

body {
    /*background-image: url(./background.webp);
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: contain;*/
    background: #708090;
}

.wrapper article, .twitter-tl, .cell, .wrapper aside {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
    transition: box-shadow 0.2s ease-in-out, -moz-box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.wrapper article:hover, .twitter-tl:hover, .cell:hover, .wrapper aside:hover {
    box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
    -webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
}

.gap {
    /*width: 100vw;*/
    height: 10vh;
}

.foldpng {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 30px;
    user-select: none;
    transition: transform 0.2s ease-in-out;
}

.reverse-z {
    transform: rotateZ(180deg);
    top: 13%!important;
    right: 13%!important;
}

.small-aside {
    background-color: rgba(255, 255, 255, 0.8)!important;
    height: 20px;
    width: 20px!important;
}

.right-aside {
    left: auto!important;
    right: 30px!important;
}

img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

:link {
    -webkit-user-drag: none;
}

html {
    scroll-behavior: smooth;
}

.yellow-marker-thin{
    background: linear-gradient(transparent 60%, #ff9 60%);
}

.red-marker-thin{
    background: linear-gradient(transparent 60%, #f58c8c 60%);
}

.green-marker-thin{
    background: linear-gradient(transparent 60%, #0de1bd 60%);
}

.twitter-tl{
    /*display: block;*/
    /*vertical-align: middle;*/
    position: fixed;
    right: 50px;
    top: 120px;
    padding: 0;
    /*border: ;*/
}

#avatar {
    width: 70%;
}

.title-left {
    display: inline-block;
    font-size: 25px;
    color: #eee;
    user-select: none;
}

.title-center, .title-right {
    display: inline-block;
    /*height: 10px;*/
    font-size: 25px;
    font-weight: bold;
    color: #eee;
    line-height: 25px;
    text-align: center;
    user-select: none;
}

.wrapper .title-center, .title-right {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.wrapper .title-center {
    padding: 19px 10px 19px;
    margin-left: 10px;
    width: 120px;
    text-decoration: none;
}

.wrapper .title-right {
    font-size: 20px;
    line-height: 20px;
    padding: 10px ;
    border-radius: 10px;
    width: 30px;
    top: 10px;
}

.wrapper .title-center:hover, .title-right:hover {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.wrapper .title-center:active, .title-right:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper .title-selected {
    background-color: rgba(0, 0, 0, 0.5);
}

.guide-container {
    display: inline-block;
    position: fixed;
    left: 32%;
    margin-left: -180px;
    top: 0;
}

.left-container {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-block {
    position: fixed;
    z-index: 1;
}

.right-action-container {
    display: inline-block;
    position: fixed;
    right: 1vw;
    top: 0;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-discord {
    color: #7289da;
}

.fa-steam {
    color: #171a21;
}

.fa-youtube {
    color: #FF0000;
}

.fa-github {
    color: #171515;
}

.fa-telegram {
    color: #229ED9;
}

.sidebar ul {
    list-style: none;
}

#langlist ul {
    list-style: none;
}

#langlist {
    position: fixed;
    left: 70px;
    top: 50%;
    color: #eee;
}

.cell {
    position: relative;
    width: 20vw;
    height: 25vh;
    margin-left: 1em;
    margin-bottom: 5em;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.cell:hover {
    transform-origin: center;
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    cursor: pointer;
}

.cell_container {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: autofit;
    position: relative;
    left: 25vw;
    top: 120px;
    width: 70vw;
    height: auto;
}

.photo_container {
    position: fixed;
    bottom: 100px;
    left: 10px;
}

.photo {
    width: 15vw;
    height: 20vh;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    
}

.photo_zoom_container {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
}

.photo_zoom {
    position: relative;
    top: 120px;
    width: 70vw;
    object-fit: scale-down;
    max-width: 70vw;
    max-height: 70vh;
}

.wrap {
    transition: all 0.2s ease-in-out;
}

.wrap:hover {
    cursor: zoom-in;
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.cell img {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
}

.cell .title {
    font-weight: bold;
    font-size: 150%;
}

.cell .content {
    color: #333;
}

.original {
    position: absolute;
    padding: 10px;
    bottom: 40px;
    left: 50vw;
    margin-left: -50px;
    width: 100px;
    height: 25px;
    background-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    color: #333;
    text-decoration: none;
    border-radius: 20px;
    z-index: 1;
}

.original:hover {
    color: #333;
}

.photo_info {
    position: absolute;
    right: 20px;
    top: 150px;
    color: #eee;
    font-size: 36px;
    overflow-wrap: break-word;
    padding: 10px;
    max-width: 20vw;
}

.foot {
    position: absolute;
    bottom: 0;
}

.status {
    font-size: 70%;
    text-align: center;
    display: inline-block;
    border-radius: 13px;
    padding: 3px;
    margin: 5px;
    border: 1px solid;
    user-select: none;
}

.complete {
    color: #0de1bd;
    border-color: #0de1bd;
}

.progress {
    color: #b8a427;
    border-color: #b8a427;
}

.pend {
    color: #69675e;
    border-color: #69675e;
}

.stop {
    color: #f58c8c;
    border-color: #f58c8c;
}

.red-text {
    color: #f58c8c;
}

.green-text {
    color: #0de1bd;
}

.brown-text {
    color: #b8a427;
}

.fold-block {
    display: none;
}

.fold {
    user-select: none;
    cursor: pointer;
}

.border-text {
    text-stroke: 1px #333;
    -webkit-text-stroke: 0.2px #eee;
}

.menu-btn {
    display: none;
    height: 63px;
    width: 63px;
    justify-content: center;
    align-items: center;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #eee;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

.menu-bar {
    display: none;
    position: fixed;
    top:  63px;
    width: 100vw;
    height: auto;
}

.menu-item {
    color: #eee;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    background-color: #172d57;
}

.menu-item-selected {
    background-color: #2b406b;
}

.menu-btn-selected {
    background-color: #172d57;
}

#lang-graph {
    position: fixed;
    top: 120px;
    left: 20px;
}

.arrow {
    height: 40px;
    width: 40px;
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 425px) {
    .guide-container, .twitter-tl, .photo_container {
        display: none;
    }
    .menu-btn {
        display: inline-flex;
    }
    .cell_container {
        grid-template-columns: 1fr;
        left: 0;
        height: auto;
    }
    .cell {
        width: 85vw;
        margin-bottom: 2em;
    }
    #lang-graph {
        position: relative;
        width: 100vw;
        top: 120px;
        left: 0;
    }
    #langlist {
        position: relative;
        top: 100px;
    }
    .repo-container {
        display: block;
        max-width: 100vw;
        overflow-x: hidden;
    }

}